<!DOCTYPE html>
<html>
<body style="font-family:arial;background-color:{{ background_color }};">

<h1>Welcome to {{ ansible_hostname }}</h1>
<p>Without sticky load balancing, users will end op at different machines for each request.</p>

</body>
</html>
